
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">

    <div class="row no-gutters">
        <div class="col-10 col-offset-1">
            <h3 class="heading">Demo</h3>
        </div>
        <div class="col-12 col-md-6">
            <div id="chart_div1" class="chart"></div>
        </div>

        <div class="col-12 col-md-6">
            <div id="chart_div2" class="chart"></div>
        </div>
    </div>

</div>

<script defer>
    // initializes Google Charts
    google.charts.load('current', { packages: ['corechart', 'bar'] });

    // onLoad: calls drawChart functions
    google.charts.setOnLoadCallback(drawChart1);
    google.charts.setOnLoadCallback(drawChart2);

    // defines labels to be used per chart
    const labels = {
        workHoursPerDay: ["Day", "Budget", "Worked", "Remaining", "Over"],
        projectHoursConsumedByMe: ["Others", "Worked By Me"]
    };

    // defines set of props to be used per chart
    const options = {
        chart1: {
            title: "Work Hours Per Day - Column Chart",
            hAxis: { title: "Day", titleTextStyle: { color: "crimson" } },
            vAxis: { title: "Hours", minValue: 0 },
            legend: "bottom",
            colors: ["teal", "dodgerblue", "tomato", "crimson"]
        },
        chart2: {
            title: "Work Hours Per Day - Area Chart",
            hAxis: { title: "Day", titleTextStyle: { color: "crimson" } },
            vAxis: { title: "Hours", minValue: 0 },
            legend: "bottom",
            colors: ["teal", "dodgerblue", "tomato", "crimson"]
        }
    };

    // paints chart 1
    function drawChart1() {
        var data = google.visualization.arrayToDataTable([
            labels.workHoursPerDay,
            ["06/05", 8, 8.25, 0, 0.25],
            ["06/06", 8, 9, 0, 1],
            ["06/07", 8, 8, 0, 0],
            ["06/08", 8, 7.5, 0.5, 0],
            ["06/09", 8, 8.15, 0, 0.15]
        ]);

        var chart = new google.visualization.ColumnChart(
            document.getElementById("chart_div1")
        );

        chart.draw(data, options.chart1);
    }

    // paints chart 2
    function drawChart2() {
        var data = google.visualization.arrayToDataTable([
            labels.workHoursPerDay,
            ["06/05", 8, 8.25, 0, 0.25],
            ["06/06", 8, 9, 0, 1],
            ["06/07", 8, 8, 0, 0],
            ["06/08", 8, 7.5, 0.5, 0],
            ["06/09", 8, 8.15, 0, 0.15]
        ]);

        var chart = new google.visualization.AreaChart(
            document.getElementById("chart_div2")
        );

        chart.draw(data, options.chart2);
    }

    // makes Google Charts responsive
    $(window).resize(function () {
        drawChart1();
        drawChart2();
    });

</script>